<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
    <!-- <link rel="stylesheet" href="../../public/stylesheets/style.css" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sagiv Mishaan</title>
    <style></style>
  </head>
  <body>
    <main>
      <button class="button btn--skills" id="button--3">
        <span>skills</span>
      </button>
      <class class="modal hidden" id="skills--modal">
        <button class="close-modal" id="button--xs">&times;</button>

        <h2 class="inside--header--title" id="start--1">
          Programming Languages:
        </h2>
        <p class="par" id="pars--start">
          Python , Java, JavaScript, CSS & HTML
        </p>
        <h2 class="inside--header--title" id="i--s--0">Operating Systems:</h2>
        <p class="par" id="pars--0">Windows, Linux</p>
        <h2 class="inside--header--title" id="i--s--1">Spoken Languages:</h2>
        <p class="par" id="pars--1">
          English - Highly proficient.<br />Hebrew - Native language<br />Spanish
          - Intermediate level
        </p>
      </class>
      <h1 id="sagiv--0">Sagiv Mishaan's CV</h1>
      <a href="mailto:sagivmishaan@gmail.com"
        ><img src="gmail.png" id="img--gmail" width="50" height="50"
      /></a>
      <button class="button btn--enter" id="button--0">
        <span>watch cv</span>
      </button>
      <a href="https://www.linkedin.com/in/sagiv-mishaan-34262a155/"
        ><button class="button btn--linkedin" id="button--1">
          LinkedIn
        </button></a
      >
      <a href="https://github.com/sagivmis"
        ><button class="button btn--git" id="button--2">Git repo.</button></a
      >
      <button class="button btn--objective" id="button--4">objective</button>
      <class class="modal hidden" id="cv--modal">
        <button class="close-modal" id="button--x">&times;</button>
        <h2 class="inside--header--title" id="cv">CV:</h2>
        <h2 class="inside--header--title" id="start">2015 ~ 2018</h2>
        <p class="par" id="par--start">Kibbutz Al-Hahof</p>
        <h2 class="inside--header--title" id="i--t--0">2018 ~ 2021</h2>
        <p class="par" id="par--0">Libra inc. - Salesman</p>
        <h2 class="inside--header--title" id="i--t--1">2021 ~ 2024</h2>
        <p class="par" id="par--1">Python dev. at Microsoft</p>
      </class>
      <class class="modal hidden" id="objective--modal">
        <button class="close-modal" id="button--xo">&times;</button>
        <h2 class="inside--header--title" id="objective--start">Objective</h2>
        <p class="par" id="objective--par--start">
          2nd year Computer Science student with high motivation and great
          passion to technology, looking for a software development position in
          a cutting-edge technology company.
        </p>
      </class>
      <div class="overlay hidden"></div>
      <script src="script.js"></script>
    </main>
  </body>
</html>
